@model MusicDotNet.Models.Song

@{
    ViewData["Title"] = "Edit Song";
}

<h1>Edit Song</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="SongId" />
            <div class="form-group">
                <label asp-for="Title" class="control-label">Title:</label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Length" class="control-label">Length:</label>
                <input asp-for="Length" class="form-control" />
                <span asp-validation-for="Length" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TrackNo" class="control-label">Track No:</label>
                <input asp-for="TrackNo" class="form-control" />
                <span asp-validation-for="TrackNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AlbumId" class="control-label">Album:</label>
                <select asp-for="AlbumId" class="form-control" asp-items="ViewBag.AlbumId"></select>
                <span asp-validation-for="AlbumId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
