@{
    ViewData["Title"] = "Albums";
}
<h1>@ViewData["Title"]</h1>

<ul>
    <li><a asp-controller="Albums" asp-action="Browse"></a>Category 1</li>
    <li><a asp-controller="Albums" asp-action="Browse"></a>Album 2</li>
    <li><a asp-controller="Albums" asp-action="Browse"></a>Album 3</li>
</ul>
