@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2 class="display-4">Welcome to</h2>
    <h1 class="display-4">Music Dot Net</h1>
    <p>
        This site can be used to catalouge music.<br />
        Add an artist, album and songs and leave your thoughts.
    </p>
    <p>
        This site stores ints, doubles, strings and images.
    </p>
</div>
